body {
    font-family: Arial;
}

.card {
    width: 250px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 2px 2px 10px gray;
}

.card img {
    width: 100%;
}

button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
